button {
    cursor: pointer;

    width: 100%;
    padding: 1em;

    color: var(--white);

    background-color: var(--bright-blue);
    border: none;
    border-radius: 0.75em;
    box-shadow: var(--desaturated-blue) 0 15px 25px -10px;
}

.link {
    width: auto;
    margin-top: 1em;
    padding: 0;

    color: var(--desaturated-blue);

    background-color: transparent;
    box-shadow: none;
}
