.container {
    overflow: hidden;

    margin: 1.5rem;

    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--desaturated-blue) 0 5px 50px -12px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    padding: 3rem;

    p {
        max-width: 30ch;
        color: var(--desaturated-blue);
        text-align: center;
    }

    h1 {
        font-size: 1.75rem;
        font-weight: 900;
        color: var(--dark-blue);
    }

    @media (--phone) {
        padding: 2rem;
    }
}

.plan {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1rem 1.5rem;

    background-color: var(--very-pale-blue);
    border-radius: 1rem;

    h2 {
        font-size: 1rem;
        font-weight: 900;
        color: var(--dark-blue);
    }

    span {
        color: var(--desaturated-blue);
    }

    .link_btn {
        cursor: pointer;

        font-size: 0.875rem;
        font-weight: 700;
        color: var(--bright-blue);
        text-decoration: underline;
    }

    .plan_details {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}
